<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mot.dm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".clientM.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".clientM.MainActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".clientM.TreeView"
            android:label="@string/app_name"></activity>
        <activity android:name=".clientM.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".clientM.SettingActivity"></activity>
    </application>

</manifest>